<%- include('../partials/header', { isAuthenticated: isAuthenticated }) %>

<div class="container mt-5">
  <h1 class="mb-4 text-center">My Properties</h1>

  <div class="row">
    <% myProperties.forEach(function(property) { %>
      <% if (property) { %>
        <div class="col-md-4 mb-4">
          <%- include('./edit', { property: property }) %>
        </div>
      <% } %>
    <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>
