<%- include('../partials/header', { isAuthenticated: isAuthenticated }) %>

<div class="container mt-5">
  <h1 class="mb-4 text-center">500, Internal server error</h1>
</div>

<%- include('../partials/footer') %>
